Repository Tinkoff/neptune, pull requests merged in 2019-09, with the labels that each got.

#122 [released] travis ci maintenance
  .travis.yml
  README.md
  build.gradle
Labels: DevOps, enhancement

#125 Attempt to fix up failed unit tests
  .travis.yml
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/webdriver/starting/SanityTestOfTheStartingAndStoppingOfWebDriver.java
Labels: DevOps, selenium

#126 Release & Commit(s) shields are added
  README.md
Labels: documentation

#127 Http serializers:
  build.gradle
  http.api/build.gradle
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/CommonBodyPublishers.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/body/data/FromJson.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/body/data/GetDocument.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/body/data/GetMapped.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/BaseHttpTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/CustomRequestBodyTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/CustomResponseBodyTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/request/body/BodyObject.java
  selenium/build.gradle
Labels: Http/Web, enhancement
