Repository Tinkoff/neptune, pull requests merged in 2020-10, with the labels that each got.

#185 Binding to HttpAPI. Dependency injection
  build.gradle
  core.api/build.gradle
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/dependency/injection/DependencyInjector.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/service/mapping/APIUses.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/service/mapping/APIUsesRepeatable.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/service/mapping/HttpAPI.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/service/mapping/HttpAPIProxyHandler.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/service/mapping/dependency/injection/HttpAPIInjector.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/ObjectWithServiceField.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/PropertyBindingTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/RequestTuner1.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/RequestTuner2.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/RequestTuner3.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/RequestTuner4.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/ServiceAPI.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/ServiceAPI2.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/ServiceAPI3.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/ServiceAPI4.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/ServiceAPI5.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/URLProperty1.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/URLProperty2.java
  selenium/build.gradle
  testng.integration/src/main/java/ru/tinkoff/qa/neptune/testng/integration/BaseTestNgTest.java
  testng.integration/src/test/java/ru/tinkoff/qa/neptune/testng/integration/test/DependencyInjectionTest.java
  testng.integration/src/test/java/ru/tinkoff/qa/neptune/testng/integration/test/TestDependencyInjector.java
Labels: Http/Web, bug, core, dependencies, enhancement

#186 BUG FIX: MappedBodyHandler now has the protected constructor
  build.gradle
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/body/data/MappedBodyHandler.java
Labels: Http/Web, bug

#184 Browser proxy & browser traffic capture support
  .travis.yml
  README.md
  selenium/build.gradle
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/SeleniumStepContext.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/WrappedWebDriver.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/browser/proxy/BrowserProxyCriteria.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/browser/proxy/BrowserProxyGetStepSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/HasHarHeader.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/HasHarQueryParam.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/RequestHasBody.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/RequestHasHeaders.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/RequestHasMethod.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/RequestHasQueries.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/RequestHasUrl.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/RequestHasVersion.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/ResponseHasBody.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/ResponseHasHeaders.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/ResponseHasStatusCode.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/ResponseHasVersion.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/properties/SessionFlagProperties.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/properties/URLProperties.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/browser/proxy/ChainedProxyTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/browser/proxy/ProxyStartingTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/browser/proxy/step/BrowserProxyStepNegativeTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/browser/proxy/step/BrowserProxyStepTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/capability/suppliers/ChromeSettingsSupplierForProxy.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/capability/suppliers/ChromeSettingsSupplierWithDefinedProxy.java
  selenium/src/test/resources/suite.xml
Labels: enhancement, selenium

#187 Bug Fix. Case: properties are not visible in external jar.
  build.gradle
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/properties/GeneralPropertyInitializer.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/properties/NeptunePropertyGenerator.java
Labels: bug, core

#188 Swagger code generator: updated dependencies
  neptune.swagger.codegen/build.gradle
Labels: dependencies

#189 Swagger: improvements of api.mustache
  neptune.swagger.codegen/src/main/resources/handlebars/neptune/api.mustache
Labels: bug

#190 Swagger: improvements of pojo.mustache
  neptune.swagger.codegen/src/main/resources/handlebars/neptune/pojo.mustache
Labels: Http/Web, bug

#191 Improvement of MappedObject. Improved the `toMap()` method
  build.gradle
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/mapping/MappedObject.java
  neptune.swagger.codegen/src/main/resources/handlebars/neptune/pojo.mustache
Labels: Http/Web, bug

#192 Refactoring of the forming of step parameter
  build.gradle
  check/src/main/java/ru/tinkoff/qa/neptune/check/MatchAction.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/Absence.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/DefaultReportStepParameterFactory.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/Presence.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/SequentialActionSupplier.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/SequentialGetStepSupplier.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/StepFunction.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/TurnsRetortingOff.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/parameters/StepParameter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/parameters/StepParameterPojo.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/parameters/StepParameterWrapper.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/steps/StepParametersTest.java
  data.base.api/src/main/java/ru/tinkoff/qa/neptune/data/base/api/data/operations/DeleteOperation.java
  data.base.api/src/main/java/ru/tinkoff/qa/neptune/data/base/api/data/operations/InsertOperation.java
  data.base.api/src/main/java/ru/tinkoff/qa/neptune/data/base/api/data/operations/UpdateOperation.java
  data.base.api/src/main/java/ru/tinkoff/qa/neptune/data/base/api/queries/SelectASingle.java
  data.base.api/src/main/java/ru/tinkoff/qa/neptune/data/base/api/queries/SelectList.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/cookies/AddHttpCookiesActionSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/cookies/DeleteHttpCookiesActionSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/cookies/GetHttpCookiesSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectFromArrayBodyStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectFromBodyStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectFromIterableBodyStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectsFromArrayBodyStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectsFromIterableBodyStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/ResponseSequentialGetSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/cookies/AddCookiesActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/cookies/RemoveCookiesActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/edit/EditActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/edit/EditParameterValueGetter.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/intreraction/CharSequenceParameterValueGetter.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/intreraction/CharSequencesParameterValueGetter.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/intreraction/ClickActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/intreraction/ClickAndHoldActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/intreraction/ContextClickActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/intreraction/DoubleClickActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/intreraction/DragAndDropActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/intreraction/DragAndDropByActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/intreraction/KeyDownActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/intreraction/KeyUpActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/intreraction/MouseMoveActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/intreraction/MoveToElementActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/intreraction/ReleaseActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/intreraction/SendKeysActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/java/script/GetJavaScriptResultSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/navigation/ToUrl.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/searching/CommonElementCriteria.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/target/locator/alert/SendKeysToAlertActionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/windows/SetWindowPositionSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/windows/SetWindowSizeSupplier.java
Labels: core, enhancement, re-design

#193 Optimized the getting of a single object from an iterable/array
  build.gradle
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/conditions/ToGetObjectFromIterable.java
  neptune.swagger.codegen/src/main/java/ru/tinkoff/qa/neptune/swagger/v3/NeptuneGenerator.java
Labels: Http/Web, core, enhancement

#195 Browser proxy update
  selenium/build.gradle
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/WrappedWebDriver.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/RequestHasBody.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/RequestHasStringBody.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/ResponseHasBody.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/ResponseHasStringBody.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/browser/proxy/ProxyRefreshTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/browser/proxy/ProxyStartingTest.java
Labels: bug, selenium

#196 Bug Fix: improved work with system properties.
  build.gradle
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/properties/GeneralPropertyInitializer.java
Labels: bug, core

#197 Bug Fix: improved work with system properties.
  build.gradle
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/properties/PropertySupplier.java
Labels: bug, core

#199 ENHANCEMENT: implementation of method hooks
  build.gradle
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/dependency/injection/DependencyInjector.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/hooks/ExecutionHook.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/hooks/HookOrder.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/hooks/KnownHooks.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/hooks/Hook1.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/hooks/Hook2.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/hooks/Hook3.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/hooks/Hook4.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/hooks/Hook5.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/hooks/HooksTest.java
  selenium/build.gradle
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/SeleniumStepContext.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/WrappedWebDriver.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/navigation/ToUrl.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hooks/BrowserUrlVariable.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hooks/BrowserUrlVariableReader.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hooks/BrowserUrlVariables.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hooks/DefaultBrowserPage.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hooks/DefaultNavigationStrategies.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hooks/ForceNavigation.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hooks/PageNavigationHook.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hooks/PreventNavigationToDefaultURL.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/properties/SessionFlagProperties.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/MockWebDriver.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/capability/properties/DefaultCapabilityPropertiesTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/capability/properties/WhenCapabilityPropertiesAreDefinedPreviously.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/hooks/ClassWithNavigationOnTest1.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/hooks/ClassWithNavigationOnTest2.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/hooks/ClassWithNavigationOnTest3.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/hooks/NavigationHookTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/steps/tests/navigation/NavigationTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/webdriver/starting/RefreshingTest.java
  selenium/src/test/resources/suite.xml
  testng.integration/src/main/java/ru/tinkoff/qa/neptune/testng/integration/DefaultTestRunningListener.java
  testng.integration/src/test/java/ru/tinkoff/qa/neptune/testng/integration/test/TestHook.java
  testng.integration/src/test/java/ru/tinkoff/qa/neptune/testng/integration/test/TestNgTestFinishingTest.java
Labels: core, enhancement, re-design, selenium
