Repository Tinkoff/neptune, pull requests merged in 2021-07, with the labels that each got.

#251 0.18.4-ALPHA
  build.gradle
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/properties/GeneralPropertyInitializer.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/properties/PropertyIntEnumWithDefaultValue.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/properties/PropertyIntWithDefaultValue.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/properties/PropertyStringEnumWithDefaultValue.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/properties/PropertyStringWithDefaultValue.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/properties/PropertyWithDefaultValueTest.java
  core.api/src/test/resources/suite.xml
Labels: bug

#252 0.18.5-ALPHA
  build.gradle
  neptune.swagger.codegen/src/main/resources/handlebars/neptune/enumClass.mustache
  neptune.swagger.codegen/src/main/resources/handlebars/neptune/enumOuterClass.mustache
Labels: Http/Web, bug

#253 Redesign: Error throwing and http client
  core.api/doc/rus/STEPS.MD
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/Absence.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/ExceptionSupplier.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/ExceptionSupplierForAbsenceAndPresence.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/NotPresentException.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/Presence.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/SequentialGetStepSupplier.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/annotations/ThrowWhenNoData.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/conditions/ToGetConditionalHelper.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/DesiredDataHasNotBeenReceivedException.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/ExpectedHttpResponseHasNotBeenReceivedException.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectFromArrayBodyStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectFromBodyStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectFromIterableBodyStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectsFromArrayBodyStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectsFromIterableBodyStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/ReceiveResponseAndGetResultFunction.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/ResponseSequentialGetSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/body/data/Deserialized.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/body/data/JSoupDocument.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/body/data/W3CDocument.java
  http.api/src/main/resources/neptune_Localization_http_ru_RU.properties
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/CustomResponseBodyTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/HttpBodyDataTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/capturing/RequestResponseLogCapturingTests.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/BaseWebDriverTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/elements/searching/SearchForWebElementNegativeTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/elements/searching/SearchForWebElementPositiveTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/elements/searching/SearchForWebElementsNegativeTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/elements/searching/SearchForWebElementsPositiveTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/elements/searching/widgets/SearchForWidgetPositiveTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/hooks/SwitchToFrameHookTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/hooks/SwitchToWindowHookTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/steps/tests/java/script/JavaScriptTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/steps/tests/target/locator/AlertTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/steps/tests/target/locator/FrameTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/steps/tests/target/locator/WindowTest.java
Labels: Http/Web, core, enhancement, re-design

#254 Implemented the binding of classes to each other
  core.api/doc/rus/CLASS_BINDING.MD
  core.api/doc/rus/README.MD
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/binding/Bind.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/binding/BindRepeatable.java
  http.api/doc/rus/MAPPING.MD
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/service/mapping/APIUses.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/service/mapping/HttpAPI.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/service/mapping/HttpAPIProxyHandler.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/service/mapping/HttpServiceBindReader.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/RequestTuner1.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/RequestTuner2.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/RequestTuner3.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/RequestTuner4.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/URLProperty1.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/URLProperty2.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/property/binding/UrlPropertyEnum.java
Labels: Http/Web, core, enhancement, re-design

#255 Enhancement: provided ability to add dynamic parameters which are calculated during execution of a step
  allure.integration/src/main/java/ru/tinkoff/qa/neptune/allure/AllureEventLogger.java
  check/src/test/java/ru/tinkoff/qa/neptune/check/test/TestEventLogger.java
  core.api/doc/rus/STEPS.MD
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/event/firing/EventLogger.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/event/firing/StaticEventFiring.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/event/firing/console/DefaultConsoleEventLogger.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/ActionImpl.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/Get.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/SequentialActionSupplier.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/SequentialGetStepSupplier.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/steps/TestEventLogger.java
Labels: allure, core, enhancement, re-design

#257 added a module to work with rabbitMq
  rabbit.mq/build.gradle
  rabbit.mq/doc/rus/FUNCTION.MD
  rabbit.mq/doc/rus/README.MD
  rabbit.mq/doc/rus/SETTINGS.MD
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/AdditionalArguments.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/RabbitMqParameterProvider.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/RabbitMqStepContext.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/ArgSupplier.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/bind/exchange/RabbitMqExchangeBindSupplier.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/bind/queue/RabbitMqQueueBindSupplier.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/declare/exchange/ParametersForDeclareExchange.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/declare/exchange/RabbitMqExchangeDeclareSupplier.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/declare/queue/ParametersForDeclareQueue.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/declare/queue/RabbitMqQueueDeclareSupplier.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/delete/exchange/RabbitMqExchangeDeleteSupplier.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/delete/queue/ParametersForDelete.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/delete/queue/RabbitMqQueueDeleteSupplier.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/get/RabbitMqBasicGetSupplier.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/publish/ParametersForPublish.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/publish/RabbitMqPublishSupplier.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/purge/RabbitMqPurgeQueueSupplier.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/unbind/exchange/RabbitMqExchangeUnbindSupplier.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/unbind/queue/RabbitMqQueueUnbindSupplier.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/localization/RabbitMqLocalizationPartition.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/properties/RabbitMqAMQPProperty.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/properties/RabbitMqAuthorizationProperties.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/properties/RabbitMqClusterProperty.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/properties/RabbitMqDefaultMapper.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/properties/RabbitMqMapper.java
  rabbit.mq/src/main/resources/neptune_Localization_rabbit.mq_ru_RU.properties
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/BaseRabbitMqTest.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/CustomMapper.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/DefaultMapper.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/DraftDto.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/basic/get/ReadTest.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/bind/ExchangeBindTest.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/bind/QueueBindTest.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/declare/ExchangeDeclareTest.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/declare/QueueDeclareTest.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/delete/ExchangeDeleteTest.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/delete/QueueDeleteTest.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/publish/PublishMessageTest.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/purge/PurgeQueueTest.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/unbind/ExchangeUnbindTest.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/unbind/QueueUnbindTest.java
  settings.gradle
Labels: enhancement, rabbit.mq
