Repository Tinkoff/neptune, pull requests merged in 2021-11, with the labels that each got.

#281 Actualization of documents
  README.md
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/Absence.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/Presence.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/SequentialGetStepSupplier.java
  http.api/doc/rus/README.MD
  http.api/doc/rus/REQUEST_RESPONSE.MD
  kafka/doc/rus/FUNCTION.MD
  kafka/doc/rus/README.MD
  rabbit.mq/doc/rus/FUNCTION.MD
  rabbit.mq/doc/rus/README.MD
  retrofit2/doc/rus/CALL_RESULTS.MD
  retrofit2/doc/rus/README.MD
  selenium/doc/rus/SETTINGS.MD
  spring.data/README.md
  spring.data/doc/eng/README.MD
  spring.data/doc/rus/README.MD
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/SpringDataContext.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/properties/SpringDataWaitingSelectedResultDuration.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/GetArrayFromEntity.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/GetItemOfArrayFromEntity.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/GetItemOfIterableFromEntity.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/GetIterableItemFromEntities.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/GetListFromEntities.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/GetListFromEntity.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/GetObjectFromEntity.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/SelectManyStepSupplier.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/SelectOneStepSupplier.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/common/CommonSelectStepFactory.java
  spring.data/src/main/resources/neptune_Localization_spring.data_ru_RU.properties
  spring.data/src/test/java/ru/tinkoff/qa/neptune/spring/data/DataExtractionTest.java
  spring.data/src/test/java/ru/tinkoff/qa/neptune/spring/data/SelectTest.java
  spring.mock.mvc/doc/rus/HOW_TO_WORK.MD
  spring.mock.mvc/doc/rus/README.MD
  spring.mock.mvc/src/main/java/ru/tinkoff/qa/neptune/spring/mock/mvc/GetListFromResponse.java
  spring.mock.mvc/src/main/java/ru/tinkoff/qa/neptune/spring/mock/mvc/GetMockMvcResponseResultSupplier.java
  spring.mock.mvc/src/test/java/ru/tinkoff/qa/neptune/spring/mock/mvc/ResponseBodyTest.java
  spring.web.testclient/doc/rus/README.MD
  spring.web.testclient/src/main/java/ru/tinkoff/qa/neptune/spring/web/testclient/GetListFromResponse.java
  spring.web.testclient/src/main/java/ru/tinkoff/qa/neptune/spring/web/testclient/SendRequestAction.java
  spring.web.testclient/src/test/java/ru/tinkoff/qa/neptune/spring/web/testclient/ResponseBodyTest.java
Labels: documentation, Http/Web, rabbit.mq, kafka, spring, retrofit

#283 0.20.0-ALPHA
  build.gradle
  core.api/build.gradle
  data.base.api/src/main/resources/neptune_Localization_data.base_ru_RU.properties
  spring.data/doc/rus/README.MD
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/SpringDataContext.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/GetArrayFromEntity.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/GetItemOfArrayFromEntity.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/GetItemOfIterableFromEntity.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/GetIterableItemFromEntities.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/GetListFromEntities.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/GetListFromEntity.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/GetObjectFromEntity.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/SelectManyStepSupplier.java
  spring.data/src/main/java/ru/tinkoff/qa/neptune/spring/data/select/SelectOneStepSupplier.java
  spring.mock.mvc/build.gradle
  spring.mock.mvc/src/main/resources/neptune_Localization_spring.mock.mvc_ru_RU.properties
  spring.web.testclient/build.gradle
  spring.web.testclient/src/main/resources/neptune_Localization_spring.web.testclient_ru_RU.properties
Labels: bug, documentation, dependencies

#285 0.20.1-ALPHA
  build.gradle
  database.abstractions/build.gradle
Labels: bug, data base

#282 migration to a new version selenium
  build.gradle
  http.api/doc/rus/REQUEST_RESPONSE.MD
  kafka/doc/rus/FUNCTION.MD
  rabbit.mq/doc/rus/FUNCTION.MD
  retrofit2/doc/rus/CALL_RESULTS.MD
  selenium/build.gradle
  selenium/doc/rus/BROWSER_PROXY.MD
  selenium/doc/rus/HAMCREST.MD
  selenium/doc/rus/README.MD
  selenium/doc/rus/SETTINGS.MD
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/BrowserProxy.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/HttpProxy.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/SeleniumStepContext.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/WrappedWebDriver.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/api/widget/Widget.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/browser/proxy/BrowserProxyCriteria.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/browser/proxy/BrowserProxyGetStepSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/browser/proxy/HttpTraffic.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/browser/proxy/NeptuneHarEntries.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/browser/proxy/NeptuneHarEntryDescription.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/searching/CommonElementCriteria.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/target/locator/window/DefaultWindow.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/HarHasVersionMatcher.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/HasContentMatcher.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/HttpTrafficEntryHasHeaders.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/HttpTrafficHasVersionMatcher.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/RequestHasMethod.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/RequestHasQueries.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/RequestHasUrl.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/ResponseHasStatusCode.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/elements/HasTextMatcher.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/properties/CapabilityTypes.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/properties/SessionFlagProperties.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/properties/SupportedWebDrivers.java
  selenium/src/main/resources/neptune_Localization_selenium_ru_RU.properties
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/MockTargetLocator.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/MockWindow.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/browser/proxy/ChainedProxyTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/browser/proxy/ProxyRefreshTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/browser/proxy/ProxyStartingTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/browser/proxy/step/BrowserProxyStepNegativeTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/browser/proxy/step/BrowserProxyStepTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/capability/properties/DefaultCapabilityPropertiesTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/capability/properties/NullCapabilityPropertiesTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/capability/properties/WhenCapabilityPropertiesAreDefinedPreviously.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/capability/suppliers/ChromeSettingsSupplierWithDefinedProxy.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/webdriver/starting/GetSupportedWebDriversTest.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/webdriver/starting/SanityTestOfTheStartingAndStoppingOfWebDriver.java
  spring.data/README.md
  spring.data/doc/rus/README.MD
  spring.data/src/main/resources/neptune_Localization_spring.data_ru_RU.properties
  spring.mock.mvc/doc/rus/HOW_TO_WORK.MD
  spring.web.testclient/doc/rus/README.MD
Labels: selenium

#287 0.20.2-ALPHA
  selenium/doc/rus/SETTINGS.MD
Labels: documentation

#289 0.20.4-ALPHA
  build.gradle
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/hamcrest/common/any/AnyMatcher.java
  spring.web.testclient/src/main/java/ru/tinkoff/qa/neptune/spring/web/testclient/BodySpecFunction.java
  spring.web.testclient/src/main/java/ru/tinkoff/qa/neptune/spring/web/testclient/SendRequestAction.java
  spring.web.testclient/src/main/java/ru/tinkoff/qa/neptune/spring/web/testclient/captors/RequestBodyWebClientStringCaptor.java
  spring.web.testclient/src/main/java/ru/tinkoff/qa/neptune/spring/web/testclient/captors/RequestExchangeResultCaptor.java
  spring.web.testclient/src/main/java/ru/tinkoff/qa/neptune/spring/web/testclient/captors/ResponseBodyWebClientStringCaptor.java
  spring.web.testclient/src/main/java/ru/tinkoff/qa/neptune/spring/web/testclient/captors/ResponseWebClientStringCaptor.java
  spring.web.testclient/src/main/java/ru/tinkoff/qa/neptune/spring/web/testclient/expectation/descriptions/ExpectAnyBody.java
  spring.web.testclient/src/main/java/ru/tinkoff/qa/neptune/spring/web/testclient/expectation/descriptions/ExpectEmptyBody.java
  spring.web.testclient/src/main/resources/neptune_Localization_spring.web.testclient_ru_RU.properties
  spring.web.testclient/src/test/java/ru/tinkoff/qa/neptune/spring/web/testclient/BaseTest.java
  spring.web.testclient/src/test/java/ru/tinkoff/qa/neptune/spring/web/testclient/FailedResponseTest.java
  spring.web.testclient/src/test/java/ru/tinkoff/qa/neptune/spring/web/testclient/HookTest.java
  spring.web.testclient/src/test/java/ru/tinkoff/qa/neptune/spring/web/testclient/ResponseBodyTest.java
  spring.web.testclient/src/test/java/ru/tinkoff/qa/neptune/spring/web/testclient/ResponseMultithreadingTest.java
  spring.web.testclient/src/test/java/ru/tinkoff/qa/neptune/spring/web/testclient/SuccessfulResponseTest.java
Labels: bug, spring

#290 0.20.5-ALPHA
  build.gradle
  check/src/main/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.localization.LocalizationBundlePartition
  core.api/doc/rus/LOCALIZATION.MD
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/LocalizationBundlePartition.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/LocalizationByResourceBundle.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/localization/MatcherLocalizationTest.java
  data.base.api/src/main/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.localization.LocalizationBundlePartition
  http.api/src/main/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.localization.LocalizationBundlePartition
  kafka/src/main/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.localization.LocalizationBundlePartition
  rabbit.mq/src/main/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.localization.LocalizationBundlePartition
  retrofit2/src/main/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.localization.LocalizationBundlePartition
  selenium/src/main/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.localization.LocalizationBundlePartition
  spring.data/src/main/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.localization.LocalizationBundlePartition
  spring.mock.mvc/src/main/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.localization.LocalizationBundlePartition
  spring.web.testclient/src/main/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.localization.LocalizationBundlePartition
Labels: bug, core

#291 0.20.6-ALPHA
  build.gradle
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/AttachmentsBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/CriteriaBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/MatchedObjectsBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/MatchersBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/MismatchDescriptionBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/OtherObjectsBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/ParameterPojoBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/StepBundleFilter.java
  spring.mock.mvc/src/main/java/ru/tinkoff/qa/neptune/spring/mock/mvc/localization/SpringMockMvcResultMatcherBundleExtension.java
Labels: bug, enhancement, re-design

#292 0.20.7-ALPHA
  allure.integration/src/main/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.event.firing.EventLogger
  build.gradle
  check/src/test/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.event.firing.EventLogger
  core.api/doc/rus/EVENTS.MD
  core.api/doc/rus/HOOKS.MD
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/dependency/injection/DependencyInjector.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/event/firing/StaticEventFiring.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/hooks/KnownHooks.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/hooks/Hook1.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/hooks/Hook2.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/hooks/Hook3.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/hooks/Hook4.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/hooks/Hook5.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/hooks/HooksTest.java
  core.api/src/test/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.event.firing.EventLogger
  core.api/src/test/resources/suite.xml
  jupiter.integration/src/test/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.hooks.ExecutionHook
  retrofit2/src/test/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.event.firing.EventLogger
  selenium/src/main/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.hooks.ExecutionHook
  spring.mock.mvc/src/main/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.hooks.ExecutionHook
  spring.web.testclient/src/main/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.hooks.ExecutionHook
  testng.integration/src/test/resources/META-INF/services/ru.tinkoff.qa.neptune.core.api.hooks.ExecutionHook
Labels: bug, enhancement, documentation, core, re-design

#293 0.20.7-ALPHA
  retrofit2/doc/rus/CALL_RESULTS.MD
  retrofit2/src/main/java/ru/tinkoff/qa/neptune/retrofit2/criteria/ResponseCriteria.java
  retrofit2/src/main/java/ru/tinkoff/qa/neptune/retrofit2/steps/DefinesResponseCriteria.java
  retrofit2/src/main/java/ru/tinkoff/qa/neptune/retrofit2/steps/GetArraySupplier.java
  retrofit2/src/main/java/ru/tinkoff/qa/neptune/retrofit2/steps/GetIterableSupplier.java
  retrofit2/src/main/java/ru/tinkoff/qa/neptune/retrofit2/steps/GetObjectFromArraySupplier.java
  retrofit2/src/main/java/ru/tinkoff/qa/neptune/retrofit2/steps/GetObjectFromIterableSupplier.java
  retrofit2/src/main/java/ru/tinkoff/qa/neptune/retrofit2/steps/GetObjectSupplier.java
  retrofit2/src/test/java/ru/tinkoff/qa/neptune/retrofit2/tests/AbstractCustomHttpBodyDataTest.java
  retrofit2/src/test/java/ru/tinkoff/qa/neptune/retrofit2/tests/HttpBodyDataTestFromCall.java
Labels: enhancement, Http/Web, retrofit

#294 bug fix related to duplicate traffic
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/HttpProxy.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/browser/proxy/step/BrowserProxyStepTest.java
Labels: bug, selenium

#296 solution for duplicate requests
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/HttpProxy.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/SeleniumStepContext.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/WrappedWebDriver.java
Labels: bug, selenium

#300 0.20.11-ALPHA: Optimized usage of classgraph
  build.gradle
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/binding/Bind.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/cleaning/ContextRefreshable.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/event/firing/annotations/UseInjectors.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/AttachmentsBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/CriteriaBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/HamcrestMatchersBundleExtension.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/MatchedObjectsBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/MatchersBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/MismatchDescriptionBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/OtherObjectsBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/ParameterPojoBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/ResourceBundleGenerator.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/localization/StepBundleFilter.java
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/properties/NeptunePropertyGenerator.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/searching/FindWidgets.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/localization/WebElementBundleFillerExtension.java
Labels: core, re-design

#301 0.20.12-ALPHA: Fixed bug of the property generating
  build.gradle
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/properties/NeptunePropertyGenerator.java
Labels: bug, core

#302 fix timeoutException
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/HttpProxy.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/WrappedWebDriver.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/browser/proxy/step/BrowserProxyStepTest.java
Labels: bug, selenium
