Repository Tinkoff/neptune, pull requests merged in 2021-08, with the labels that each got.

#262 0.19.1-ALPHA
  build.gradle
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/searching/FindWidgets.java
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/elements/searching/widgets/SearchForWidgetsPositiveTest.java
  selenium/src/test/resources/suite.xml
Labels: bug, selenium

#264 Add kafka module
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/steps/SequentialGetStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetResponseFunction.java
  http.api/src/main/resources/neptune_Localization_http_ru_RU.properties
  kafka/build.gradle
  kafka/doc/rus/FUNCTION.MD
  kafka/doc/rus/README.MD
  kafka/doc/rus/SETTINGS.MD
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/KafkaParameterProvider.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/KafkaStepContext.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/captors/AbstractCaptor.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/captors/AllMessagesCaptor.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/captors/MessageCaptor.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/captors/MessagesCaptor.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/poll/GetFromTopics.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/poll/KafkaPollArrayItemSupplier.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/poll/KafkaPollArraySupplier.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/poll/KafkaPollIterableItemSupplier.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/poll/KafkaPollIterableSupplier.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/poll/TopicValueGetter.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/send/KafkaSendRecordsActionSupplier.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/localization/KafkaLocalizationPartition.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/properties/KafkaConsumerSupplier.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/properties/KafkaDefaultDataTransformer.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/properties/KafkaDefaultTopicForSendSupplier.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/properties/KafkaDefaultTopicsForPollSupplier.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/properties/KafkaProducerSupplier.java
  kafka/src/main/resources/neptune_Localization_kafka_ru_RU.properties
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/CustomMapper.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/DefaultMapper.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/DraftDto.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/KafkaBaseTest.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/captors/BaseCaptorTest.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/captors/GetArrayCaptorTest.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/captors/GetArrayItemCaptorTest.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/captors/GetIterableCaptorTest.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/captors/GetIterableItemCaptorTest.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/captors/SendMessageTest.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/captors/TestStringInjector.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/poll/PollMessagesTest.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/send/SendMessageTest.java
  rabbit.mq/src/main/resources/neptune_Localization_rabbit.mq_ru_RU.properties
  retrofit2/src/main/resources/neptune_Localization_retrofit2_ru_RU.properties
  settings.gradle
Labels: enhancement, kafka

#268 0.19.4-ALPHA
  build.gradle
  kafka/doc/rus/FUNCTION.MD
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/send/KafkaSendRecordsActionSupplier.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/captors/SendMessageTest.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/send/SendMessageTest.java
  rabbit.mq/src/main/java/ru/tinkoff/qa/neptune/rabbit/mq/function/publish/RabbitMqPublishSupplier.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/captors/PublishMessageTest.java
  rabbit.mq/src/test/java/ru/tinkoff/qa/neptune/rabbit/mq/test/publish/PublishMessageTest.java
Labels: enhancement
