Repository Tinkoff/neptune, pull requests merged in 2022-05, with the labels that each got.

#336 0.21.3-MIGRATION-ALPHA
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/request/RequestBuilder.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/request/RequestBuilderFactory.java
  neptune.swagger.codegen/src/main/resources/handlebars/neptune/api.mustache
Labels: re-design

#338 0.21.3-MIGRATION-ALPHA
  http.api/doc/rus/MAPPING.MD
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/service/mapping/annotations/methods/DefaultHttpMethods.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/service/mapping/annotations/methods/HttpMethod.java
Labels: re-design, Http/Web

#339 0.21.3-MIGRATION-ALPHA
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/Response.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/dictionary/AdditionalCriteriaDescription.java
  http.api/src/main/resources/neptune_Localization_http_ru_RU.properties
Labels: re-design, Http/Web

#337 0.22.1-ALPHA
  build.gradle
  http.api/doc/rus/MAPPING.MD
  http.api/doc/rus/REQUEST_RESPONSE.MD
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/HttpStepContext.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/DesiredDataHasNotBeenReceivedException.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectFromArrayBodyStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectFromBodyStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectFromIterableBodyStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectsFromArrayBodyStepSupplier.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/response/GetObjectsFromIterableBodyStepSupplier.java
  http.api/src/main/resources/neptune_Localization_http_ru_RU.properties
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/CustomRequestBodyTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/CustomResponseBodyTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/HttpBodyDataTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/HttpClientTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/HttpResponseInfoTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/capturing/RequestResponseLogCapturingTests.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/capturing/RequestResponseMultiThreadLogCapturingTests.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/BodyMappingTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/HeaderMapping.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/HeaderMappingTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/MethodMappingTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/PathMappingTest.java
  http.api/src/test/java/ru/tinkoff/qa/neptune/http/api/test/requests/mapping/QueryMappingTest.java
Labels: re-design, Http/Web

#344 hibernate integration: QueryDSL select bugfix
  hibernate/src/main/java/ru/tinkoff/qa/neptune/hibernate/select/querydsl/by/SelectByPredicateFunction.java
  hibernate/src/test/java/ru/tinkoff/qa/neptune/hibernate/SelectTest.java
Labels: bug, data base, hibernate
