Repository Tinkoff/neptune, pull requests merged in 2022-11, with the labels that each got.

#379 improvements of documents
  site.documentation/source/test_reports/allure/annotations.md
Labels: documentation

#380 0.24.1-ALPHA
  allure.jupiter.bridge/src/main/java/ru/tinkoff/qa/neptune/allure/jupiter/bridge/ExcludeFromAllureReportExtension.java
  allure.jupiter.bridge/src/main/java/ru/tinkoff/qa/neptune/allure/jupiter/bridge/NeptuneAllureExcludeTest.java
  allure.jupiter.bridge/src/test/resources/junit-platform.properties
  build.gradle
Labels: bug, JUnit 5

#381 0.24.2-ALPHA:
  build.gradle
  selenium/build.gradle
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/HttpProxy.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/browser/proxy/BrowserProxyCriteria.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/browser/proxy/HttpTraffic.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/hamcrest/matchers/browser/proxy/HasContentMatcher.java
Labels: selenium, dependencies

#382 0.24.3-ALPHA
  build.gradle
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/GetConsumer.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/GetProducer.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/KafkaStepContext.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/poll/GetRecords.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/send/KafkaSendRecordsActionSupplier.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/KafkaBasePreparations.java
Labels: bug, kafka

#383 0.24.4-ALPHA: Fix of a kafka bug
  build.gradle
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/poll/GetRecords.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/captors/GetArrayCaptorTest.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/captors/GetIterableCaptorTest.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/captors/GetIterableItemCaptorTest.java
  kafka/src/test/java/ru/tinkoff/qa/neptune/kafka/poll/PollMessagesTest.java
Labels: bug

#384 Удаление старых консьюмеров
  build.gradle
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/poll/GetRecordSupplier.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/poll/GetRecords.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/poll/KafkaPollArraySupplier.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/poll/KafkaPollIterableItemSupplier.java
  kafka/src/main/java/ru/tinkoff/qa/neptune/kafka/functions/poll/KafkaPollIterableSupplier.java
Labels: bug, kafka
