Repository Tinkoff/neptune, pull requests merged in 2022-01, with the labels that each got.

#314 Update of dependencies
  allure.integration/build.gradle
  build.gradle
  check/build.gradle
  core.api/build.gradle
  data.base.api/build.gradle
  database.abstractions/build.gradle
  http.api/build.gradle
  jupiter.integration/build.gradle
  kafka/build.gradle
  neptune-spring-boot-starter/build.gradle
  neptune.swagger.codegen/build.gradle
  rabbit.mq/build.gradle
  retrofit2/build.gradle
  selenium/build.gradle
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/browser/proxy/step/BrowserProxyStepTest.java
  spring.data/build.gradle
  spring.mock.mvc/build.gradle
  spring.web.testclient/build.gradle
  testng.integration/build.gradle
Labels: selenium, testNg, dependencies, rabbit.mq

#317 Implemented the opening of new windows and tabs
  selenium/doc/rus/README.MD
  selenium/doc/rus/WINDOWS.MD
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/SeleniumStepContext.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/target/locator/window/GetNewWindowSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/target/locator/window/GetWindowSupplier.java
  selenium/src/main/java/ru/tinkoff/qa/neptune/selenium/functions/target/locator/window/WindowCriteria.java
  selenium/src/main/resources/neptune_Localization_selenium_ru_RU.properties
  selenium/src/test/java/ru/tinkoff/qa/neptune/selenium/test/steps/tests/target/locator/NewWindowTest.java
Labels: enhancement, selenium

#318 0.20.22-ALPHA
  build.gradle
  core.api/build.gradle
  core.api/src/main/java/ru/tinkoff/qa/neptune/core/api/dependency/injection/DependencyInjector.java
  core.api/src/test/java/ru/tinkoff/qa/neptune/core/api/properties/GeneralPropertiesTest.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/service/mapping/HttpAPI.java
  http.api/src/main/java/ru/tinkoff/qa/neptune/http/api/service/mapping/HttpAPIProxyHandler.java
  kafka/build.gradle
  rabbit.mq/build.gradle
  retrofit2/src/main/java/ru/tinkoff/qa/neptune/retrofit2/service/setup/HttpServiceCreator.java
  retrofit2/src/main/java/ru/tinkoff/qa/neptune/retrofit2/service/setup/ServiceProxyHandler.java
  selenium/src/main/resources/neptune_Localization_selenium_ru_RU.properties
  spring.data/build.gradle
  spring.mock.mvc/build.gradle
  spring.mock.mvc/src/main/java/ru/tinkoff/qa/neptune/spring/mock/mvc/GetMockMvcResponseResultSupplier.java
  spring.web.testclient/build.gradle
Labels: bug, Http/Web, dependencies, spring, retrofit

#319 0.20.23-ALPHA:
  build.gradle
  retrofit2/src/main/java/ru/tinkoff/qa/neptune/retrofit2/service/setup/DefaultRetrofitBuilderSupplier.java
Labels: retrofit
